<div class="first-heading  p-4">
    <div class="row g-3">
        <div>
            <p class="fs-1">
                This First Heading <span class="text-secondary">Will Catch Your Eye</span>
            </p>
            <p class="fw-light">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
            consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div>
            <img src="assets/img/1.jpg" class="border rounded-circle" alt="Walter White">
        </div>
    </div>
</div>


