<div class="first-heading p-3">
    <div class="row g-3">
        <div>
            <img src="assets/img/2.jpg" class="border rounded-circle" alt="computadora">
        </div>
        <div>
            <p class="fs-1">
                The Second Heading <span class="text-secondary">Is Pretty Cool Tool.</span>
            </p>
            <p class="fw-light">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
            consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>

